.button {
  padding: 10px 25px;
  margin-right: 20px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  border-radius: 10px;
  background-color: #2a2a2a;
  border: 1px solid #2a2a2a;
  cursor: pointer;
  width: max-content;
  transition: 0.25s ease;
}

.button:hover,
.button:active {
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
  color: #2a2a2a;
  border-color: transparent;
  background-color: transparent;
}
